html
  body
    h3 Hello #{name},
    p Thank you for contacting Baubles.
    p Here is the solution to your query:
    p 
      strong #{message}
    br
    p If you need more help, feel free to contact us again.
    p - Team Baubles
